@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    font-family: "Open Sans", sans-serif !important;
}

main {
    width: 100% !important;
}

#logo {
    display: inline;
    background: -webkit-linear-gradient(
        275.68deg,
        #d09335 9.46%,
        #4c75ba 93.29%
    );
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.bg-white {
    background-color: #ffffff;
}

.bg-orange {
    background: #ffeade !important;
    color: #ff5c00 !important;
    border: 1px solid #ff5c00 !important;
    box-shadow: 0 0 5px 1px #ff5c00;
}

#sidebar-menu {
    width: 25% !important;
}

.btn-gray {
    background-color: #d1d1d1 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.btn-gray:hover {
    background-color: #c5c5c5 !important;
}

.btn-green {
    background: #a0ce7c !important;
    color: white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.rounded-table {
    border-radius: 10px !important;
}

.d-inline {
    display: inline !important;
}

#sidebar-menu {
    width: 25% !important;
}

.d-inline {
    display: inline !important;
}

.dashboard-card {
    border-radius: 15px !important;
}

/* webkit */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #557cbf;
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #557cbf;
}

.bg-grey {
    background-color: #e4e4e4 !important;
}

.bg-grey:hover {
    background-color: #cccccc !important;
}

/* Page */
/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.text-blue-link a {
    color: #557cbf !important;
}

/* Style the buttons inside the tab */
.tab a {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px 5px 20px;
    transition: 0.3s;
    text-decoration: none;
    color: #191d21;
}

/* Create an active/current tablink class */
.tab a.active {
    color: #0275d8;
    border-bottom: 1px solid #0275d8;
}

/* Style the tab content */
.tabcontent {
    margin-top: 10px;
    display: none;
    padding: 6px 12px;
}


.tabs button.active{

    background: #FFEADE;
    color: #FF5C00;
    border: 1px solid #FF5C00;
    box-shadow: 0 0 10px 1px #FFEADE;
    
}
.tabs button{
    margin-top: 20px;
    padding: 10px;
    width: 200px;
    justify-content: left;
    border-radius: 10px;
    border: 1px solid #D1D1D2;
    background: #ffffff;
}

.note{
    margin-top: 10px;
    background-color: #FFF7E7;
    height: 50px;
    padding: 10px;
    padding-top: 12px;
    padding-left: 15px;
    justify-items: center;
    border-radius: 8px;
}
.note p{
    font-weight:normal;
    color : #575757;
}
.note p span{
    color: #FF7715;
}
.input-img{
    width: 150px;
    height: 150px;
    background-color: #F9F9F9;
    border: 1px dashed #818181;
    border-radius: 10px;
    align-items: center;
}
.input-img img{
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.input{
    display: none;
}
.upload-text{
    color: #6AA6FF;
    margin-top: 10px;
    text-align: center;
}


.input-text{
    height: 50px;
    border: 0.5px solid #c9c7c7;
    border-radius: 10px;
    margin: 10px;
}
.input-textarea{
    border: 0.5px solid #c9c7c7;
    border-radius: 10px;
    margin: 10px;
}
.btn-submit{

    color: #fff;
    background-color: #557CBF;
    border: none;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
}
.mt-10{
  margin-top: 10px;  
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-70{
    margin-top: 70px;
}
.wrap-content{
    display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60ch;
}
#imgmodal #show-img{
    width: 100%;
}